.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .bienvenidos {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    text-align: center;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #362121;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button.btn {
    padding: 10px;
    background-color: #dc1f1f;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button.btn:hover {
    color: white;
    background-color: #830707;
  }
  
  p.parrafo {
    text-align: center;
    margin: 12px;
  }

  