.login-container {
    font-family: 'Verdana';
    max-width: 500px;
    margin: 40px auto;
    padding: 60px;
    background-image: "";
    background-color: #d1cec5;
    border-radius: 40px;
    box-shadow: 4px 8px 4px rgba(147, 147, 147, 0.1);
  }
  
  .bienvenidos {
    padding: 15px;
    margin-bottom: 20px;
    font-style: bold;
    font-size:larger;
    text-align: center;
    background-color: rgb(35, 6, 6);
    color: #ffffff;
    border-radius: 15px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #350d0d;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button.btn {
    padding: 15px;
    background-color: #c60000;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button.btn:hover {
    color: rgb(0, 0, 0);
    background-color: #de8585;
  }
  
  p.parrafo {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
  }

  a.parrafo {
    color:#ef0000;
  }

  