#titulo {
    background-color: black;
    color: white;
    padding: 3%;
}

.add-to-cart-button {
    background-color: rgb(50, 156, 255);
    font-weight: bolder;
    padding: 2%;
}
.add-to-cart-button:hover {
    background-color: rgb(128, 192, 252);
}
.size.selected {
    border: 2px solid black;
    /* Resalta la talla seleccionada */
    background-color: #aaa;
    /* Cambiar el fondo si se desea */
    color: white;
    /* Cambiar el color del texto si es necesario */
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #4caf50;
    /* Verde para éxito */
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s;
}
.popupError {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #da3535;
    /* Rojo malo :p */
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s;
}
.info{
    padding-bottom: 0%;
}